<nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-900 text-gray-200 shadow-lg navbar navbar-expand-lg navbar-light">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
    <a class="text-xl text-white pr-2 font-semibold" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/img/speakcloud_clouds.png" | relative_url }}" alt="logo" class="h-8">
    </a>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}
    <div class="flex items-center relative">
      {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          <a class="text-xl text-white pr-2 font-semibold" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    </div>
    {%- endif -%}
  </div>
</nav>
  