<nav class="p-2 bg-gray-900 text-gray-200 shadow-lg top-0 z-50 no-wrap">
    <div class="w-full flex">
      <a class="" href="/">
        <img src="{{ "/assets/img/speakcloud_clouds.png" | relative_url }}" alt="logo" class="h-8">
      </a>
      <button class="cursor-pointer uppercase text-2xl" type="button" id="menu-toggle" onclick="toggleNavbar('collapse-navbar')" style="margin-left: auto">
        <i class="fa-solid fa-burger"></i>
      </button>
    </div>
    <div class="hidden uppercase w-full text-right flex" id="collapse-navbar">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- if page_paths -%}
        <div class="my-2">
          <a class="hover:opacity-75" href="/">Home</a>
        </div>
        {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <div class="my-2">
            <a class="hover:opacity-75" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </div>
          {%- endif -%}
        {%- endfor -%}
        </div>
      {%- endif -%}
</nav>
<script>
  function toggleNavbar(collapseID){
    document.getElementById(collapseID).classList.toggle("hidden");
    document.getElementById(collapseID).classList.toggle("flex");
    document.getElementById("menu-toggle").classList.toggle("opacity-20");
  }
</script>