---
layout: non-standard
---

<div class="prose prose-invert bg-no-repeat bg-cover" style="background-image: url('/assets/img/code.jpg');">
  <div class="w-full h-full overflow-hidden bg-fixed" style="background-color: rgba(0, 0, 0, 0.8)">
    <div class="container mx-auto max-w-screen-md text-center py-10">
      <div class="flex h-2/3">
        <div class="m-auto">
          <img src="/assets/img/speakcloud_clouds.png" alt="logo" class="object-center object-contain inline">
          <h1 class="text-5xl uppercase text-white mb-2">Speakcloud</h1>
          <p class="text-2xl text-white">Let's build the cloud together</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="prose prose-invert bg-slate-800">
  <div class="container mx-auto max-w-screen-md text-center py-10">
    <div class="flex h-2/3">
      <div class="m-auto">
        <p>Welcome to Speakcloud! We’re a one-man consultancy that specializes in workshops
           for people looking to begin or expand their knowledge of cloud infrastructure, DevOps, 
           Serverless technologies, and Python programming. </p>
        <p>Our workshops are designed to equip our clients with the necessary
           skills to take full advantage of today's cutting-edge technology stacks, 
           so they can maximize efficiency while staying agile and well-informed 
           on industry best practices.</p>
        <p class="text-2xl font-bold uppercase">Get in touch now</p>
        <p>If you're ready to take your skills to the next level, email us at <a class="no-underline hover:underline hover:decoration-amazon" href="mailto:stu@speakcloud.consulting">stu@speakcloud.consulting</a> 
          or drop us a message on <a class="no-underline hover:underline hover:decoration-amazon" href="https://twitter.com/speakclouder">Twitter</a>. 
          We'd love to hear from you and help you on your journey to becoming a cloud infrastructure, 
          DevOps, Serverless technologies, and Python programming expert.</p>
      </div>
    </div>
</div>