---
layout: non-standard
---

<div class="prose prose-invert bg-no-repeat bg-cover" style="background-image: url('/assets/img/code.jpg');">
  <div class="w-full h-full overflow-hidden bg-fixed" style="background-color: rgba(0, 0, 0, 0.8)">
    <div class="container mx-auto max-w-screen-md text-center py-10">
      <div class="flex h-20">
        <div class="m-auto">
          <img src="/assets/img/speakcloud_clouds.png" alt="logo" class="h-12 m-0 inline">
          <h1 class="text-xl uppercase">Speakcloud</h1>
          <!-- <p class="text-2xl text-white">Let's build the cloud together</p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="prose prose-invert bg-slate-800" style="background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(30,41,59,0.9234287464985994) 0%, rgba(30,41,59,1) 100%);">
  <div class="container mx-auto max-w-4xl text-center p-5">
    <div class="flex h-96">
      <div class="m-auto">
        <h2 class="text-5xl md:text-7xl font-bold mt-14 m-4 underline decoration-amazon">Become the engineer you're destined to be</h2>
        <h3 class="text-2xl md:text-4xl font-light mb-4">Training and Workshops designed to bring out your greatness</h3>
      </div>
    </div>
  </div>
</div>


<div class="prose prose-invert bg-slate-800">
  <div class="container mx-auto max-w-screen-md text-center py-4">
    <div class="flex h-2/3">
      <div class="m-auto">
        <p>SpeakCloud is a training consultancy that specializes in workshops
           for people looking to begin and expand their knowledge of the cloud (AWS), DevOps, 
           Serverless and Python.</p>
        <p>Our workshops are designed to equip you with the necessary
           skills to take full advantage of today's cutting-edge technology stacks, 
           so you can maximize efficiency while staying agile and well-informed 
           on industry best practices.</p>
        <p class="text-2xl font-bold uppercase underline decoration-amazon"><i class="fa-solid fa-angles-down"></i> Get in touch now  <i class="fa-solid fa-angles-down"></i> </p>
        <p>If you're ready to take your skills to the next level, email me at <a class="no-underline hover:underline hover:decoration-amazon" href="mailto:stu@speakcloud.consulting">stu@speakcloud.consulting</a> 
          or drop me a message on <a class="no-underline hover:underline hover:decoration-amazon" href="https://twitter.com/speakclouder">Twitter</a>. 
          I'd love to help you on your journey to becoming a cloud infrastructure, 
          DevOps, Serverless technologies, and Python expert you've always been destined to become.</p>
      </div>
    </div>
</div>